body {
  background-color: #282c34;
}

.App {
  text-align: center;
  color: white;
}

.App h1 {
  font-size: 80px;
  padding-top: 50px;
}

.Form .SearchBar {
  padding: 15px 50px;
  margin-right: 15px;
  border-radius: 15px;
  font-size: 15px;
  border: none;
}

.Form .Submit {
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
}

li {
  list-style: none;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}

strong {
  color: cornflowerblue;
}

.App a {
  color: violet;
}
